[submodule "themes/Mainroad"]
	path = themes/Mainroad
	url = git@github.com:geoffworks17/Mainroad.git
[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
